/*
USEFUL LINKS:
=============

    https://www.w3schools.com/howto/howto_css_shake_image.asp

*/
@import url(https://fonts.bunny.net/css?family=inter:100,200,300,400,500,600,700,800,900);
/* @import url(https://fonts.bunny.net/css?family=alumni-sans:100,400,400i,700,700i|inter:100,200,300,400,500,600,700,800,900); */

@import url(https://use.fontawesome.com/releases/v6.5.0/css/all.css);
@import url(https://www.nerdfonts.com/assets/css/webfont.css);

fieldset {
    display: block;
    border: 1px black solid;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.3); /* Black w/opacity/see-through */
    margin-bottom: 20px;
    margin-left: 10%;
    margin-right: 10%;
}

.fieldsetnested {
  display: block;
  border: 1px black dotted;
  width: 95%;
  background-color: rgba(255, 255, 255, 0.3); /* Black w/opacity/see-through */
  margin-bottom: 5px;
  margin-left: 2%;
  margin-right: 2%;
}

legend {
    border: 1px black solid;
    margin-left: 1em; 
    padding: 0.2em 0.8em;
    font-family: 'Inter', sans-serif;
    background-color: rgba(255, 255, 255, 0.3); /* Black w/opacity/see-through */
}

:target{
border: 2px dotted #666;
background-color: rgb(218, 242, 183);
/* background-blend-mode: color-burn; */

}
html,body{
    margin:0;
    padding:0;
    height:100%;
    border:none;                    /*!!!this was remarked*/
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    background-color: rgb(239, 250, 227);
    background-image: url(https://www.mathiaspihl.com/images/coffee_bg-50-mini.png);
    /*background-position: left;*/
    background-repeat: no-repeat;
    /* background-size: 100% ; */
    background-size: cover;
    background-attachment: fixed;
 }

table {
    width: 100%;
    height: 100%;
    /* border-width:thin;
    border-style:solid;
    border-color: rgb(14, 13, 13); */
}


h1 {
  text-align: left;
  text-transform: capitalize;
  color: #4CAF50;
  /* text-decoration: underline; */
  text-shadow: 2px 2px darkgreen;
  /* font-size: 95%; */
}

.rowheader-new {
  z-index: 1;

  width: 99%;
  height: 100px;

  /* margin-top: 10px; */

  background-size: contain;
  background-position:left;  
  background-repeat: no-repeat;
  background-image: url(https://www.mathiaspihl.com/images/Coffee-mug_2.png); 
  /* background-image: url(https://www.mathiaspihl.com/images/Coffee-mug_2.png); background-size: contain; background-repeat: no-repeat;text-indent: 50px; */
  /* background-image: url(https://www.mathiaspihl.com/images/Coffee-mug.png); background-size: contain; background-repeat: no-repeat;text-indent: 50px; */

  border-bottom-style:dotted;
  border-bottom-width: thin;
  border-bottom-color: #006400;

  overflow:hidden;
  display: inline-block;
  position: fixed;
  top: 0;
}

@media only screen and (max-width: 480px){
.rowheader-new {
    z-index: 999999;

    width: 99%;
    height: 100px;

    /* margin-top: 10px; */

    background-size: contain;
    background-position:left;  
    background-repeat: no-repeat;
    background-image: url(https://www.mathiaspihl.com/images/Coffee-mug_2.png); 
    /* background-image: url(https://www.mathiaspihl.com/images/Coffee-mug_2.png); background-size: contain; background-repeat: no-repeat;text-indent: 50px; */
    /* background-image: url(https://www.mathiaspihl.com/images/Coffee-mug.png); background-size: contain; background-repeat: no-repeat;text-indent: 50px; */

    border-bottom-style:dotted;
    border-bottom-width: thin;
    border-bottom-color: #006400;

    overflow:hidden;
    display: inline-block;
    position: fixed;
    top: 0;
  }

  h1 {
    font-size: 90%;
  }

}

.rowheader {
    /* width: 100%; */
    z-index: 999;
    
    /* height: 10%; */
    
    background-position:left;
    background-image: url(https://www.mathiaspihl.com/images/Coffee-mug.png); background-size: contain; background-repeat: no-repeat;text-indent: 50px;
    /*background-image: url(https://www.mathiaspihl.com/images/xmas_mug.png); background-size: contain; background-repeat: no-repeat;text-indent: 70px;*/
    /*background-image: url(./images/green-mug.png); background-size: contain; background-repeat: no-repeat;text-indent: 70px;*/

    border-bottom-style:dotted;
    border-bottom-width: thin;
    border-bottom-color: darkgreen;
}

.rowmiddle {
  width: 100%;
  
  vertical-align: top;

  /* margin-top: 120px; */

}

.rowmiddle_new {
    height: 1%;
    width: 99%;
    /* border-width:thin; */
    /* border-style:dotted; */
    /* border-color: rgb(209, 4, 4); */
    
    vertical-align: top;

    /* margin-top: 120px; */

}

.rowfooter {
  z-index: 999999;
  width: 99%;
  
  border-top-style:dotted;
  border-top-width: thin;
  border-top-color: darkgreen;
  
  margin-left: 10px; margin-top: 10px;
  height: 50px;
  /* overflow: hidden; */
  position: fixed;
  bottom: 0;

  /* text-shadow: 2px 2px darkgreen; */
  
}


.border {
    border: 1px solid gray;
    padding: 8px;
    width: 80%;
  }
 
.borderfooter {
    border: 1px solid gray;
    padding: 8px;
    width: 100%;
  } 
  

  
  .main {
    /* text-indent: 25px; */
    text-align: left;
    letter-spacing: 1.5px;
    font-family: 'Inter', sans-serif;
    margin-bottom: 30px; 
    margin-top: 2px;
    margin-right: 10px;
    margin-left: 10px;
    color: #000000;
  }

  p{
    letter-spacing: 1.5px;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 500;
  }
  

  .endpara{
    font-family: 'Inter', sans-serif;
    letter-spacing: normal;
    text-align: right;
    /* font-size: smaller; */
  }

  .translate{
    font-family: 'Inter', sans-serif;
    
    white-space: nowrap;
    /* padding-right: 20px; */

    font-size: small;
    text-align:right;

  }

  .bookmark {
    /* text-indent: 25px; */
    text-align: left;
    letter-spacing: 1.5px;
    font-family: 'Inter', sans-serif;
    margin-bottom: 10px; 
    margin-top: 2px;
    margin-right: 10px;
    margin-left: 10px;
    /* background-color: lightgray; */
  }


  /* a {
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    color: #4CAF50;
  } */

a {
    color: black;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    padding: 2px 0px 1px;
    background-image: linear-gradient(transparent 0%, transparent calc(50% - 9px), rgba(0, 255, 0, 0.35) calc(50% - 9px), rgba(0, 255, 0, 0.35) 100%);
    transition: background-position 120ms ease-in-out 0s, padding 120ms ease-in-out 0s;
    background-size: 100% 200%;
    background-position: 0px 0px;
    word-break: break-word;
}

.removelinkstyle {
  text-decoration: none !important; 
  background-image: none !important;
  font-family: 'Inter', sans-serif;
}


  .timestamp {
    /* background-color: white; */
    font-size: 12px;

  }

  /* ##### TOOLTIP ##### */
  .tooltiponly {
    position: relative;
    display: inline-block;
    /* border-bottom: 1px dotted black; */
  }

  .tooltiponly .tooltiptextonly {
    font-family: 'Inter', sans-serif;
    letter-spacing: normal;
    visibility: hidden;
    width: 200px;
    top: 100%;
    left: 50%;
    margin-left: -100px; /* Use half of the width (200/2 = 100), to center the tooltip */
    font-size: 13px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    box-shadow:0 1px 8px rgba(14, 13, 13, 0.9);
  
    /* Position the tooltip */
    position:absolute;
    z-index: 1;
  }

  .tooltiponly:hover .tooltiptextonly {
    visibility: visible;
    /* display:block; */
  }


  .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    font-family: 'Inter', sans-serif;
    letter-spacing: normal;
    visibility: hidden;
    /* display: none; */
    width: 200px;
    top: 100%;
    left: 50%;
    margin-left: -100px; /* Use half of the width (200/2 = 100), to center the tooltip */
    font-size: 13px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    box-shadow:0 1px 8px rgba(14, 13, 13, 0.9);
  
    /* Position the tooltip */
    position:absolute;
    z-index: 9999;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    /* display:block; */
  }


.img-shadow {
  box-shadow:0 1px 8px rgba(14, 13, 13, 0.9);
  border-radius: 20px;
}

.img-myicons {
  padding-left: 10px;
  padding-right: 10px; 
  display:inline-flex; 
  align-items: center; 
  justify-content: center;
}

/* #### TOOLTIP for IMAGES ### */
.tooltipimg {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  /* color: #4CAF50; */
}

.tooltipimg .tooltiptextimg {
  font-family: 'Inter', sans-serif;
  letter-spacing: normal;
  visibility: hidden;
  min-width: 200px;
  max-width: 500px;
  top: 100%;
  left: 0%;
  margin-left: -50px;

  height: auto;
  font-size: 13px;
  background-color: black;
  color: #fff;
  text-align:left;
  border-radius: 5px;
  /*padding: 5px 5px;*/
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-right: 5px;
  box-shadow:0 1px 8px rgba(14, 13, 13, 0.9);

  /* Position the tooltip */
  position:absolute;
  z-index: 9999;
}

.tooltipimg:hover .tooltiptextimg {
  visibility: visible;
}
/* #### END ### */

/* ##### tooltip2 ######### */
/* 
http://www.menucool.com/tooltip/css-tooltip
 */
 .tooltip2 {
  display:inline-block;
  position:relative;
  border-bottom:1px dotted #666;
  text-align:left;
}

.tooltip2 .bottom {
  min-width:200px; 
  max-width:500px;
  top:20px;
  left:50%;
  transform:translate(-50%, 0);
  padding:10px 20px;
  color:#444444;
  background-color:#EEEEEE;
  font-weight:normal;
  font-size:13px;
  border-radius:8px;
  position:absolute;
  z-index:99999999;
  box-sizing:border-box;
  box-shadow:0 1px 8px rgba(0,0,0,0.5);
  display:none;
}

.tooltip2:hover .bottom {
  display:block;
}

.tooltip2 .bottom i {
  position:absolute;
  bottom:100%;
  left:50%;
  margin-left:-12px;
  width:24px;
  height:12px;
  overflow:hidden;
}

.tooltip2 .bottom i::after {
  content:'';
  position:absolute;
  width:12px;
  height:12px;
  left:50%;
  transform:translate(-50%,50%) rotate(45deg);
  background-color:#EEEEEE;
  box-shadow:0 1px 8px rgba(0,0,0,0.5);
}
/* ###################### */



/* #### DROPUP BUTTON MENU #### */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 12px;
  /* font-size: 14px; */
  font-family: 'Inter', sans-serif;
  border: none;
  min-width: 160px;
}
.dropup {
  position: relative;
  display: inline-block;
}

.dropup-content {
  display: none;
  position: absolute;
  background-color: rgb(207, 233, 180);
  min-width: 170px;
  bottom: 40px;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  z-index: 1;
  max-height: 300px;
  overflow-y: scroll;
}

.dropup-content a {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  color: black;
  padding: 5px 10px;
  text-decoration: none;
  display: block;
}

.dropup-content a:hover {background-color: #ccc}

.dropup:hover .dropup-content {
  display: block;
}

.dropup:hover .dropbtn {
  background-color: #4CAF50;
}

/* ################### */

/* ########### DROPDOWN ############# */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: fixed;
  background-color: rgb(233, 248, 217);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  z-index: 1;
  max-height: 300px;
  /* overflow-y: scroll; */
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

/* ################## */
